{{!-- Spellbooks --}}
<div class="form-group">
    <h2>{{localize "PF1.SpellbookUsage"}}</h2>
</div>

<div class="form-group stacked">
    <label>{{localize "PF1.SpellBookPlural"}}</label>
    {{#each spellbookData as |spellbook a|}}
        <label class="checkbox">
            <input type="checkbox" {{checked spellbook.orig.inUse}} name="spellbook-{{a}}-inuse" /> {{spellbook.orig.name}}
        </label>
    {{/each}}
</div>

{{!-- Ability Score Linking --}}
<div class="form-group">
    <h2>{{localize "PF1.AbilityScoreLinks"}}</h2>
</div>

<div class="form-group table">
    <div class="flexcol ability-scores">
        {{!-- Header --}}
        <div class="flexrow header">
            <label class="cell left-label">{{localize "PF1.Feature"}}</label>
            <label class="cell midsize">{{localize "PF1.AbilityScore"}}</label>
        </div>

        {{!-- General --}}
        <div class="flexrow sub-header">
            <label class="cell">{{localize "PF1.General"}}</label>
        </div>

        {{!-- Hit Points --}}
        <div class="flexrow">
            <label class="cell left-label">{{localize "PF1.HitPoints"}}</label>
            <select name="data.attributes.hpAbility" class="cell midsize-cell">
                {{#select data.attributes.hpAbility}}
                    <option value=""></option>
                    {{#each config.abilities as |ability a|}}
                        <option value="{{a}}">{{ability}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        {{!-- Combat --}}
        <div class="flexrow sub-header">
            <label class="cell">{{localize "PF1.Combat"}}</label>
        </div>

        {{!-- Initiative --}}
        <div class="flexrow">
            <label class="cell left-label">{{localize "PF1.Initiative"}}</label>
            <select data-name="data.attributes.init.ability" class="cell midsize">
                {{#select data.attributes.init.ability}}
                    <option value=""></option>
                    {{selectOptions config.abilities}}
                {{/select}}
            </select>
        </div>

        {{!-- CMB --}}
        <div class="flexrow">
            <label class="cell left-label">{{localize "PF1.CMB"}}</label>
            <select name="data.attributes.cmbAbility" class="cell midsize">
                {{#select data.attributes.cmbAbility}}
                    <option value=""></option>
                    {{#each config.abilities as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="flexrow">
            <label class="cell left-label">{{localize "PF1.Melee"}}<!-- Attack --></label>
            <select name="data.attributes.attack.meleeAbility" class="cell midsize">
                {{#select data.attributes.attack.meleeAbility}}
                    <option value=""></option>
                    {{#each config.abilities as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="flexrow">
            <label class="cell left-label">{{localize "PF1.Ranged"}}<!-- Attack --></label>
            <select name="data.attributes.attack.rangedAbility" class="cell midsize">
                {{#select data.attributes.attack.rangedAbility}}
                    <option value=""></option>
                    {{#each config.abilities as |label value|}}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        {{!-- Defense --}}
        <div class="flexrow sub-header">
            <label class="cell">{{localize "PF1.Defense"}}</label>
        </div>

        <div class="flexrow">
          <label class="cell left-label">{{localize "PF1.ArmorClass"}}</label>
          <select name="data.attributes.ac.normal.ability" class="cell midsize">
              {{#select data.attributes.ac.normal.ability}}
                  <option value=""></option>
                  {{#each config.abilities as |label value|}}
                      <option value="{{value}}">{{label}}</option>
                  {{/each}}
              {{/select}}
          </select>
        </div>

        <div class="flexrow">
          <label class="cell left-label">{{localize "PF1.ACTouch"}}</label>
          <select name="data.attributes.ac.touch.ability" class="cell midsize">
              {{#select data.attributes.ac.touch.ability}}
                  <option value=""></option>
                  {{#each config.abilities as |label value|}}
                      <option value="{{value}}">{{label}}</option>
                  {{/each}}
              {{/select}}
          </select>
        </div>

        <div class="flexrow">
          <label class="cell left-label">{{localize "PF1.CMD"}}</label>
          <select name="data.attributes.cmd.dexAbility" class="cell midsize">
              {{#select data.attributes.cmd.dexAbility}}
                  <option value=""></option>
                  {{#each config.abilities as |label value|}}
                      <option value="{{value}}">{{label}}</option>
                  {{/each}}
              {{/select}}
          </select>
        </div>

        {{!-- Saving Throws --}}
        <div class="flexrow sub-header">
            <label class="cell">{{localize "PF1.SavingThrowPlural"}}</label>
        </div>

        {{#each data.attributes.savingThrows as |savingThrow id|}}
            <div class="flexrow">
                <label class="cell left-label">{{savingThrow.label}}</label>
                <select data-name="data.attributes.savingThrows.{{id}}.ability" class="cell midsize">
                    {{#select savingThrow.ability}}
                        <option value=""></option>
                        {{#each ../config.abilities as |label value|}}
                            <option value="{{value}}">{{label}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        {{/each}}
    </div>
</div>

{{!-- Optional Rules --}}
<div class="form-group">
    <h2>{{localize "PF1.OptionalAndVariantRules"}}</h2>
</div>

{{!-- Wound Thresholds --}}
<div class="form-group">
    <label>{{localize "PF1.WoundThresholdOverride"}}</label>
    <select data-dtype="Number" name="data.attributes.woundThresholds.override" {{#unless woundThresholds.allowWoundThresholdOverride}}disabled{{/unless}}>
        {{#select data.attributes.woundThresholds.override}}
            <option value="-1">{{localize 'PF1.Default'}}</option>
            <option value="0">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdDisabled'}}</option>
            <option value="1">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdNormal'}}</option>
            <option value="2">{{localize 'SETTINGS.pf1HealthConfigWoundThresholdGritty'}}</option>
        {{/select}}
    </select>
</div>

{{!-- Tooltip Settings --}}
{{#if isGM}}
    <div class="form-group">
        <h2>{{localize "PF1.TooltipConfigName"}}</h2>
    </div>

    <div class="form-group">
        <label>{{localize "PF1.Name"}}</label>
        <input type="text" name="data.details.tooltip.name" placeholder="{{token.name}}" value="{{data.details.tooltip.name}}" />
    </div>

    <div class="form-group stacked">
        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideHeld" {{checked actor.data.details.tooltip.hideHeld}}/> {{localize "PF1.HideHeld"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideArmor" {{checked actor.data.details.tooltip.hideArmor}}/> {{localize "PF1.HideArmor"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideBuffs" {{checked actor.data.details.tooltip.hideBuffs}}/> {{localize "PF1.HideBuffs"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideConditions" {{checked actor.data.details.tooltip.hideConditions}}/> {{localize "PF1.HideConditions"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideClothing" {{checked actor.data.details.tooltip.hideClothing}}/> {{localize "PF1.HideClothing"}}
        </label>

        <label class="checkbox">
            <input type="checkbox" name="data.details.tooltip.hideName" {{checked actor.data.details.tooltip.hideName}}/> {{localize "PF1.HideName"}}
        </label>
    </div>
{{/if}}
